<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Emulating real sheets of paper in web documents (using HTML and CSS)">
        <title>STD Mark Table</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/sheets-of-paper-a4.css") }}">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <style>
        body {
            width: 600px;
            margin: 40px auto;
            font-family: 'trebuchet MS', 'Lucida sans', Arial;
            font-size: 14px;
            color: #444;

        }

        table {
            *border-collapse: collapse; /* IE7 and lower */
            border-spacing: 0;
            width: 100%;    
        }

        .bordered {
            border: solid #ccc 1px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 0 1px 1px #ccc; 
            -moz-box-shadow: 0 1px 1px #ccc; 
            box-shadow: 0 1px 1px #ccc;         
        }

        .bordered tr:hover {
            background: #fbf8e9;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;     
        }    

        .bordered td, .bordered th {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 10px;
            text-align: left;    
        }

        .bordered th {
            background-color: #dce9f9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
            background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
            -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
            border-top: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5); 
        }

        .bordered td:first-child, .bordered th:first-child {
            border-left: none;
        }

        .bordered th:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
        }

        .bordered th:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .bordered th:only-child{
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

        .bordered tr:last-child td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .bordered tr:last-child td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }

        /*----------------------*/

        .zebra td, .zebra th {
            padding: 10px;
            border-bottom: 1px solid #f2f2f2;    
        }

        .zebra tbody tr:nth-child(even) {
            background: #f5f5f5;
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
            -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
        }

        .zebra th {
            text-align: left;
            text-shadow: 0 1px 0 rgba(255,255,255,.5); 
            border-bottom: 1px solid #ccc;
            background-color: #eee;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
            background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
            background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
            background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
            background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 
            background-image:         linear-gradient(top, #f5f5f5, #eee);
        }

        .zebra th:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;  
        }

        .zebra th:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .zebra th:only-child{
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

        .zebra tfoot td {
            border-bottom: 0;
            border-top: 1px solid #fff;
            background-color: #f1f1f1;  
        }

        .zebra tfoot td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .zebra tfoot td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }

        .zebra tfoot td:only-child{
            -moz-border-radius: 0 0 6px 6px;
            -webkit-border-radius: 0 0 6px 6px
            border-radius: 0 0 6px 6px
        }
    </style>
    </head>
    <body class="document">
        <div class="page" contenteditable="true">
        {% for markTableOneStudent in markTables.mark_tables|sort %}
    <section class="invoice">
        <div class="col-xs-12" style="text-align: center; margin-bottom: 2px; margin-top: 0.5px">
            <img src="{{ asset('images/logo_ltb.png') }}" style="" width='83px' />
        </div>
        <br>
        <div style="text-align: center">
            <span style="font-size: 10px;"><b>LYCEE TECHNIQUE DE BANGUI</b></span><br>
            <span class="text-center" style="font-size: 10px"><b> BULLETIN DE NOTES DU 
                    {% if markTables.parameters.sequence == 1 %}
                        PREMIER TRIMESTRE
                    {% elseif markTables.parameters.sequence == 2 %}
                        DEUXIEME TRIMESTRE
                    {% else %}
                        TROISIEME TRIMESTRE
                    {% endif %}
                </b>
            </span>
        </div>
            <table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
      <td style="font-size: 10px;"><b>Nom(s) et Prenom :</b> {{ markTableOneStudent.param.student_name }}</td>
      <td style="font-size: 10px;"><b>Professeur Principal:</b> {{ markTables.parameters.main_teacher }}</td>
    </tr>
    <tr>
        <td style="font-size: 10px;"><b>Section :</b> {{ markTables.parameters.section_name }}</td>
        <td style="font-size: 10px;"><b>Date du conseil:</b> {{ markTables.parameters.council_date|date('d/m/y') }}</td>
    </tr>
    <tr>
        <td style="font-size: 10px;"><b>Effectif:</b> {{ markTables.parameters.student_number }}</td>
        
    </tr>
    <tr>
    </tr>     
  </tbody>
</table>
<table class="table table-bordered">
  <thead>
    
  </thead>
  <tbody class="bodyContent">
    <tr style="font-size: 10px;">
      <td><b>Discipline</b></td>
      <td><b>Note/20</b></td>
      <td><b>Coef</b></td>
      <td><b>Note</b></td>
      <td><b>Appreciation</b></td>
      <td><b>Nom du Prof.</b></td>
    </tr>
    {% set nb = (8 - markTableOneStudent|length) %}
    {% for row in markTableOneStudent.rows %}
    <tr style="font-size: 11px;">
      <td>{{ row.program_name }}</td>
      <td>{{ row.mark|number_format(2) }}</td>
      <td>{{ row.coefficient }}</td>
      <td>{{ row.mark_coefficient|number_format(2) }}</td>
      <td>{{ row.appreciation }}</td>
      <td>{{ row.teacher }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 <div class="row">
      <!-- accepted payments column -->
      <div class="col-xs-6">

        <div class="table-responsive"  style='font-size: 12px'>
          <table class="table">
            <tr>
              <th>Moy. du 1<sup>er</sup> Trimestre:</th></th>
              <td>{{ markTableOneStudent.param.marks_by_sequence.first }} / 20</td>
            </tr>
            <tr>
              <th>Moy. du 2<sup>eme</sup> Trimestre:</th>
              <td>{{ markTableOneStudent.param.marks_by_sequence.two }}</td>
            </tr>
            <tr>
              <th>Moy. du 3<sup>eme</sup> Trimestre:</th>
              <td>{{ markTableOneStudent.param.marks_by_sequence.three }}</td>
            </tr>
            
            <tr style="color: green;">
              <th>Moy. Generale:</th>
              <td><b style="font-size: 13px;">{{ markTableOneStudent.param.marks_by_sequence.Gen }}</b></td>
            </tr>
            
            <tr>
              <th>Rang:</th>
              <td>1er</td>
            </tr>
          </table>
          <img src="{{ asset('images/logo.jpg') }}" width="100px;"/>
        </div>
      {#<img src="{{ asset('images/barcode_student.png') }}" style="padding-top: 2px; padding-left: 8px;"/>#}  
      </div>
      <!-- /.col -->
      <div class="col-xs-6">

        <div class="table-responsive"  style='font-size: 10px'>
          <table class="table">
            <tr>
              <th style="width:50%">DECISION DU CONSEIL</th>
              
            </tr>
            <tr>
              <th>TH + Felicitation:</th>
              <td>Oui</td>
            </tr>
            <tr>
              <th>TH + Encouragement:</th>
              <td>Non</td>
            </tr>
            <tr>
              <th>Tableau d'honneur:</th>
              <td>Non</td>
            </tr>
            <tr>
              <th>Avertissement:</th>
              <td>Non</td>
            </tr>
            <tr>
              <th>Blame:</th>
              <td>Non</td>
            </tr>
            <tr>
              <th>Exclu:</th>
              <td>Non</td>
            </tr>
          </table>
        </div>
        
      </div>
      <!-- /.col -->
    </div>
    </section>
<div class="page-break"></div>
{% endfor %}
    </div>
    <script type="text/javascript">
    // window.print();
    </script>
</body>
</html>