<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edusol-Academ</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    
    <!-- Custom styling plus plugins -->
    
    <link rel="stylesheet" href="{{ asset('css/AdminLTE.min.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/favicon.ico') }}' />
  </head>


<body onload="window.print();">
<div class="wrapper">
  <!-- Main content -->
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      
      <div class="col-xs-12">
        <h2 class="page-header">
          <img src="{{ asset('images/logo_ltb.png') }}" style="" width='100px'/>
        </h2>
      </div>
      <!-- /.col -->
    </div>
        <div>
            <h1 class="text-center" style="font-size: 15px;"><b>LYCEE TECHNIQUE DE BANGUI</b></h1>
            <h1 class="text-center" style="font-size: 15px"><b> BULLETIN DE NOTES DU 2em TRIMESTRE 2017 - 2018</b></h1>
        </div>
        
    <table>
  
  
 <table class="table table-bordered">
  <thead>
    
  </thead>
  <tbody>
    <tr>
      
      <td><b>Nom(s) et Prenom :</b> GAZAMBETI Angela</td>
      <td><b>Professeur Principal:</b> MOIGONODE Sarko</td>
      
    </tr>
    <tr>
        <td><b>Class :</b> 1<sup>ere</sup> G3B</td>
      <td><b>Date du conseil:</b> {{ "now"|date("d/m/Y") }}</td>
    </tr>
    <tr>
        <td><b>Effectif:</b> 122</td>
        <td><b>Nom(s) de(s) Parent(s):</b> GAZAMBETI Christian </td>
    </tr>
    <tr>
        
    </tr>
             
  </tbody>
</table>
<br>
<table class="table table-bordered">
  <thead>
    
  </thead>
  <tbody>
    <tr>
      <td>Discipline</td>
      <td>Note/20</td>
      <td>Coef</td>
      <td>Note</td>
      <td>Appreciation</td>
      <td>Nom du Prof.</td>
      
    </tr>
    <tr>
      <td>Informatique</td>
      <td>12.5</td>
      <td>2</td>
      <td>25</td>
      <td>Assez Bien</td>
      <td>Saint-Cyr MAPOUKA</td>
    </tr>
    <tr>
      <td>Informatique</td>
      <td>12.5</td>
      <td>2</td>
      <td>25</td>
      <td>Assez Bien</td>
      <td>Saint-Cyr MAPOUKA</td>
    </tr>
    <tr>
      <td>Informatique</td>
      <td>12.5</td>
      <td>2</td>
      <td>25</td>
      <td>Assez Bien</td>
      <td>Saint-Cyr MAPOUKA</td>
    </tr>
    <tr>
      <td>Informatique</td>
      <td>12.5</td>
      <td>2</td>
      <td>25</td>
      <td>Assez Bien</td>
      <td>Saint-Cyr MAPOUKA</td>
    </tr>
    <tr>
      <td>Informatique</td>
      <td>12.5</td>
      <td>2</td>
      <td>25</td>
      <td>Assez Bien</td>
      <td>Saint-Cyr MAPOUKA</td>
    </tr>
    <tr>
      <td>Informatique</td>
      <td>12.5</td>
      <td>2</td>
      <td>25</td>
      <td>Assez Bien</td>
      <td>Saint-Cyr MAPOUKA</td>
    </tr>
    <tr>
      <td>Informatique</td>
      <td>12.5</td>
      <td>2</td>
      <td>25</td>
      <td>Assez Bien</td>
      <td>Saint-Cyr MAPOUKA</td>
    </tr>
   
    <tr>
      <td>TOTAL</td>
      <td>99</td>
      <td>99</td>
      <td>99</td>
    </tr>
             
  </tbody>
</table>

    <div class="row">
      <!-- accepted payments column -->
      <div class="col-xs-6">

        <div class="table-responsive"  style='font-size: 12px'>
          <table class="table">
            <tr>
              <th>Moy. du 1<sup>ere</sup> Trimestre:</th>
              <td>12.5</td>
            </tr>
            <tr>
              <th>Moy. du 2<sup>eme</sup> Trimestre:</th>
              <td>N/A</td>
            </tr>
            <tr>
              <th>Moy. du 3<sup>eme</sup> Trimestre:</th>
              <td>N/A</td>
            </tr>
            <tr>
              <th>Rang:</th>
              <td>1er</td>
            </tr>
          </table>
        </div>
       
       
      <img src="{{ asset('images/barcode_student.png') }}" style="padding-top: 2px; padding-left: 8px;"/>  
      </div>
      
      <!-- /.col -->
      <div class="col-xs-6">

        <div class="table-responsive"  style='font-size: 12px'>
          <table class="table">
            <tr>
              <th style="width:50%">DECISION DU CONSEIL</th>
              
            </tr>
            <tr>
              <th>TH + Felicitation:</th>
              <td>Oui</td>
            </tr>
            <tr>
              <th>TH + Encouragement:</th>
              <td>Non</td>
            </tr>
            <tr>
              <th>Tableau d'honneur:</th>
              <td>Non</td>
            </tr>
            <tr>
              <th>Avertissement:</th>
              <td>Non</td>
            </tr>
            <tr>
              <th>Blame:</th>
              <td>Non</td>
            </tr>
            <tr>
              <th>Exclu:</th>
              <td>Non</td>
            </tr>
          </table>
        </div>
        
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- ./wrapper -->
</body>
</html>